#escolha_sala {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding-top: 120px;
}

#escolha_sala img {
    width: 100%;
    height: 250px;
}

#escolha_sala section p {
    margin: 20px auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#escolha_sala section a {
    text-decoration: none;
    color: #000;
}

#secao_reuniao, #secao_auditorio {
    display: none;
}

#sala_reuniao, #sala_auditorio {
    background: #fff;
    padding: 5px 30px;
    box-shadow: 10px 10px rgba(0,0,0,0.3);
    border-radius: 8px;
    width: 400px;
    text-align: left;
}

#sala_reuniao:hover, #sala_auditorio:hover {
    transform: scale(1.05);
    transition: 1s;
}

#sala_auditorio {
    margin-bottom: 30px;
}

.reservas_agendadas {
    background: #fff;
    width: 80%;
    min-height: 200px;
    margin: 0 auto 80px;
    padding: 20px;
    box-shadow: 10px 10px rgba(0,0,0,0.3);
    border-radius: 8px;
    text-align: left;
}

.reservas_agendadas table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    text-align: center;
    align-items: center;
    border: 1px solid #ddd;
    table-layout: fixed;
    display: block;
    overflow-x: auto;
    max-height: 500px;
}

.reservas_agendadas th, td {
    padding: 10px;
    width: 500px;
    text-align: center;
}

.reservas_agendadas thead {
    position: sticky;
    top: 0;
    background: #e4e4e4;
    z-index: 2;
}

.reservas_agendadas tr:nth-child(even) {
    background: #ebf6fd;
}

.reservas_agendadas tr:hover td {
    background: #cfeaf7;
}

.reservas_agendadas td {
    min-width: 80px;
    max-width: 500px;
}

button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    /* font-size: 14px; */
    display: flex;
    align-items: baseline;
    gap: 5px;
    transition: background-color 0.3s ease;
    margin: auto;
}

button:hover {
    background:  #c0392b;
    transform: scale(1.01);
}

button i {
    font-style: normal
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        height: 0;
        padding: 0;
        margin: 0;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-box {
    background: white;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    text-align: center;
}

.modal-botoes button {
    display: inline;
    margin: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-botoes button:first-child {
    background-color: #dc3545;
    color: white;
    min-width: 80px;
    padding: 8px 30px;
}

.modal-botoes button:last-child {
    background-color: #ccc;
    width: 85px;
}

@media (max-width: 1035px) {
    .reservas_agendadas {
        padding: 20px;
        margin: 20px auto;
        width: 90%;
        text-align: center;
    }

    .reservas_agendadas table {
        width: 100%;
    }

    .reservas_agendadas th, td {
        padding-right: 15px;
    }
}

@media (max-width: 540px) {
    #escolha_sala {
        flex-direction: column;
        align-items: center;
    }

    #sala_auditorio, #sala_reuniao {
        width: 250px;
    }
    
    .reservas_agendadas {
        padding: 10px;
        margin: 10px auto;
        width: 95%;
        text-align: center;
    }

    .reservas_agendadas table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        width: 100%;
    }

    .reservas_agendadas th, td {
        padding: 8px;
    }
}